body {
  background-color: #66BFBF;
}

h1 {
  color: Yellow;
}

h3 {
  color: Yellow;
}

hr {
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

img {
  height: 100px;
}
